.header{
    width: 100%;
    display: table;
    float: left;
    background-color: #101010;
}


.logo-container{
    height: 100%;
    float: left;
    padding: 0px 30px;
    color: white;    
}

.navigation{
    float: right;
    height: 100%;
    padding: 20px 20px;
}
 
.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    background-color: #101010;
}
 
.navigation a li{
    vertical-align: middle;
    display: table-cell;
    font-size: 20px;
    color: white;
}
 

.navigation a:hover{
    background-color: gray;
    color: #101010;
}

.content {
    float: center;
    padding: 10% 10% 0.5% 10%;
}

.text{
    text-transform: uppercase;
    padding: 0;
    text-indent: 25px;
    text-align: justify;
}

.image {
    width:30%;
    float:left;
    padding: 0.5% 0.5% 0% 0.5%;
}





